@import url('https://fonts.googleapis.com/css?family=Trirong');

body {
  background-image: url('/home/racitsolution/Desktop/Expense_tracker-main/client/src/wallet.jpg');
  background-size: cover; /* Ensures the image covers the container */
  background-repeat: no-repeat;
  background-attachment: fixed; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Trirong', normal;
}

.container{
    margin:30px auto;
    width:350px;
}

h1{
    color: rgb(131, 44, 58);
    letter-spacing: 2px;
    margin:0;
}

h4{
    color: rgb(14, 57, 82);
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
}

.inc-exp-container {
    background-color: #b79ac4;
    box-shadow: var(--box-shadow);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  
  .inc-exp-container > div {
    flex: 1;
    text-align: center;
  }
  
  .inc-exp-container > div:first-of-type {
    border-right: 1px solid #dedede;
  }
  
  .money {
    font-size: 20px;
    letter-spacing: 1px;
    margin: 5px 0;
  }
  
  .money.plus {
    color: #114111;
  }
  
  .money.minus {
    color: #c0392b;
  }


label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}


* {
  box-sizing: border-box;
}
body {
  padding: 20px;
}
.sticky-btn {
  padding: 10px;
  background: blue;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
.sticky-btn:hover {
  background: dodgerblue;
}
.sticky-note {
  width: 300px;
  border: 3px solid #333;
  height: 312px;
  position: absolute;
  top: 30px;
  left: 50px;
}

.sticky-note-header {
  background: rgb(67, 32, 90);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  cursor: move;
}

textarea {
  outline: none;
  width: 100%;
  padding: 10px;
  height: 250px;
  resize: none;
  border: none;
}

.close {
  width: 35px;
  height: 35px;
  background: red;
  border-radius: 50%;
  display: grid;
  place-content: center;
  padding-bottom: 5px;
  cursor: pointer;
}
.close:hover {
  opacity: 0.8;
}









* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}



.screen {
  height: 4rem;
  margin-bottom: 4rem;
  
}

.wrapper {
  background: #5d337b;
  width: 20rem;
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 1rem;
  box-shadow: 0px 9px 15px -3px rgba(0,0,0,0.1);
}

.buttonBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .5rem;
}

.button {
  background: #130c38;
  height: 3.5rem;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffffff;
  border: none;
  font-size: 1.5rem;
}

.button:hover {
  border: 2px dotted #242424;
}

.equals {
  background: #7f6298;
  grid-column: 3/5;
}

.opt {
  background: #a475b6;
}